---
import { name } from "src/constants";
import Hamburger from "./Hamburger";
import { navLinks } from "./NavLinks.ts";
---

<Hamburger client:load />
<nav class="hidden py-2 bg-zinc-900 w-full md:flex justify-between not-prose items-center px-5">
  <a href="/" class="text-3xl flex items-center font-bold self-center">
    <h2>{name}</h2>
  </a>
  <div class="hidden md:flex gap-5 font-medium">
    {
      navLinks.map((link) => {
        return (
          <a href={link.url} class="hover:scale-[1.15] transition duration-300 p-2 font-bold hover:cursor-pointer">
            {link.label}
          </a>
        );
      })
    }
  </div>
</nav>
