@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --blur-shadow: 0 0 40px rgba(230, 10, 255, 0.949);
  --gutter: clamp(1.125rem, 2.5vw + 0.5rem, 2.75rem);
}

@theme {
  --color-text-main: var(--color-zinc-200);
  --color-gold: #eab308;
  /* Breakpoints */
  --breakpoint-xs: 545px;
  --breakpoint-3xl: 2000px;
  /* --breakpoint-2xl: 1600px; */
}
.stripedBg {
  --stripe1: #1a0824;
  --stripe2: #321933;
  background: repeating-linear-gradient(45deg, var(--stripe1), var(--stripe1) 70px, var(--stripe2) 70px, var(--stripe2) 140px);
}
.hamburger {
  filter: invert(93%) sepia(9%) saturate(154%) hue-rotate(181deg) brightness(95%) contrast(83%);
}
.goldFilter {
  filter: invert(62%) sepia(75%) saturate(928%) hue-rotate(7deg) brightness(170%) contrast(94%);
}

@font-face {
  font-family: "Prospekt Regular";
  src: url("/fonts/Prospekt Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stargaze Regular";
  src: url("/fonts/Stargaze Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-VariableFont_wdth,wght";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype supports variations"),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Roboto-VariableFont_wdth,wght", sans-serif;
  scrollbar-color: var(--color-gold) #000;
  background-color: var(--color-zinc-800);
}

h1 {
  font-family: "Prospekt Regular", sans-serif;
}
h2 {
  font-family: "Stargaze Regular", sans-serif;
  letter-spacing: var(--tracking-wider);
}
