---
import { Image } from "astro:assets";

import HeadshotTali from "@assets/HeadshotTali.png";
import Layout from "@layouts/Layout.astro";
import ContactLinks from "@components/ContactLinks.astro";
---

<Layout homepage={true}>
  <main class="flex place-content-center h-[calc(100vh-54px)]">
    <section class="place-items-center justify-center text-center col-span-10 col-start-2 flex flex-col md:grid grid-cols-2 mx-5">
      <div class="flex place-content-center border-gold border-4 p-4">
        <div class="flex flex-col row-span-2 h-full justify-center">
          <h1 class="flex flex-col mb-0 text-5xl xs:text-6xl lg:text-7xl col-start-1">Rafiq<br />Ramadan</h1>

          <hr class="border-gold not-prose mx-20 mt-4" />

          <h2 class="col-start-1 mt-5 mb-0 text-xl md:text-2xl">
            <span class="border-gold block-inline">Frontend Engineer</span>
          </h2>
          <span class="text-xl font-normal mt-1"><em>He/Him • Chicago, IL</em></span>
          <div class="flex justify-center not-prose mt-1">
            <ContactLinks />
          </div>
        </div>
      </div>
      <div class="flex not-prose place-content-center max-w-[80%]">
        <Image src={HeadshotTali} alt="Regal Transparent" class="md:min-w-[300px] md:my-0 my-8" />
      </div>
    </section>
  </main>
</Layout>

<style>
  h1 {
    /* margin-bottom: 0; */
  }
</style>
