---
import ContentBox from "./ContentBox.astro";
import TabPanel from "@components/TabPanel/TabPanel";
import v from "@assets/mutantEmoji/v_hmn_y2.svg";
import InlineMutantEmoji from "./InlineMutantEmoji.astro";
import arrowRight from "@assets/mutantEmoji/arrow_right.svg";
---

<ContentBox>
  <h2 class="border-b-2 border-gold" id="about">About</h2>
  <header class="mb-8">
    <strong>I'm Rafiq</strong>, a Frontend Engineer based in Chicago experienced in delivering a diverse array of accessible, enterprise-level applications, as
    well as UI/UX-focused personal projects.
  </header>
  <TabPanel client:idle />
  <p><a href={"/resume"} class="pt-4">Full Resume<InlineMutantEmoji emoji={arrowRight} styling="size-4" /></a></p>
</ContentBox>
