---
interface Props {
  columns?: string[];
}

// const { columns } = Astro.props;
---

<div
  class:list={[
    "grid grid-cols-12 grid-rows-auto col-start-2 col-span-10 bg-zinc-800 border-4 border-zinc-200 rounded-lg p-5 mx-5 shadow-[var(--blur-shadow)] prose-h2:m-0",
  ]}
>
  <div class:list={["col-start-1 col-span-12 lg:col-span-8 row-start-1 row-span-1"]}>
    <slot name="summary" />
  </div>
  <div class="hidden lg:block col-span-4 row-span-1">
    <slot name="sidebarImg" />
  </div>
  <div class="col-span-12 grid grid-cols-2 border-t-2 border-b-zinc-200 py-5 items-center">
    <h2 class="">Links:</h2>
    <slot name="links" />
  </div>
  <div>
    <slot name="technical" />
  </div>
  <div class="col-span-12">
    <slot name="gallery" />
  </div>
</div>
