---
interface Props {
  columns?: string[];
}

// const { columns } = Astro.props;
---

<div class:list={["flex flex-col rounded-lg p-5 mx-2 "]}>
  <main class="divide-y-2 divide-zinc-200">
    <slot />
  </main>
  <!-- <div class:list={["col-start-1 col-span-12 lg:col-span-8 row-start-1 row-span-1"]}>
    <slot name="summary" />
  </div>
  <div class="hidden lg:block col-span-4 row-span-1">
    <slot name="sidebarImg" />
  </div>
  <div class="col-span-12 grid grid-cols-2 border-t-2 border-b-zinc-200 py-5 items-center">
    <h2 class="">Links:</h2>
    <slot name="links" />
  </div>
  <div>
    <slot name="technical" />
  </div>
  <div class="col-span-12">
    <slot name="gallery" />
  </div> -->
</div>
