---
import { Image } from "astro:assets";
import arrow from "@assets/mutantEmoji/arrow_right.svg";
import ContactLinks from "./ContactLinks.astro";
---

<footer class:list={["min-h-[75px] w-full not-prose dark:bg-zinc-900 bg-zinc-200 flex flex-col px-5 mt-10 gap-2"]}>
  <div class="flex w-full items-center mt-4">
    <div class="w-full flex justify-between items-center mx-auto">
      <button class="border-b-2 border-l-2 border-gold font-bold hover:cursor-pointer hidden sm:flex p-2 pr-0" id="backToTop"
        ><Image src={arrow} alt="arrow" class="rotate-270 w-5 m-auto" /><span>Back To Top</span></button
      >
      <a
        href="/"
        class="text-xl sm:text-2xl md:text-3xl flex items-center sm:border-t-2 border-l-2 sm:border-l-0 border-b-2 border-gold flex-nowrap text-nowrap pl-2 sm:pl-0"
      >
        <h2>Rafiq Ramadan</h2>
      </a>
      <div class="flex border-t-2 border-r-2 border-gold pt-1 pr-1">
        <ContactLinks />
      </div>
    </div>
  </div>
  <div class="flex w-full text-xs justify-end-safe">
    <span class="opacity-50"
      ><a href="https://mutant.tech/" class="underline">Mutant Standard emoji</a> are licensed <a
        href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        class="underline">CC BY-NC-SA 4.0 International</a
      >.</span
    >
  </div>
</footer>

<script>
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }
  document.getElementById("backToTop")?.addEventListener("click", () => scrollToTop());
</script>
