---
import { Image } from "astro:assets";

import linkedInIcon from "@assets/svg/logo-linkedin.svg";
import email from "@assets/svg/mail.svg";
---

<footer class:list={["bg-zinc-900 min-h-[75px] flex items-center w-full"]}>
  <div class="w-full flex justify-between items-center mx-5">
    <div class="not-prose flex gap-2">
      <a href="https://www.linkedin.com/in/rafiqramadan/">
        <Image src={linkedInIcon} alt="linkedIn" class="w-8 invert hover:scale-[1.15] transition duration-300 bg-zinc-200 rounded-sm brightn" />
      </a>
      <!-- TODO: set up email -->
      <a href="mailto:rafiq@rafiqramadan.com">
        <Image src={email} alt="email" class="w-8 invert scale-[1.15] hover:scale-[1.30] transition duration-300" />
      </a>
    </div>
    <div>Copyright(?)</div>
  </div>
</footer>
