---

---

<footer class:list={["bg-zinc-900 min-h-[75px] flex items-center w-full"]}>
  <div class="w-full flex justify-between items-center">
    <div>Icon Box</div>
    <div>Copyright(?)</div>
  </div>
</footer>
