---
import { Image } from "astro:assets";
import type { TechItem } from "@components/Projects/ProjectPage.astro";

interface Props {
  technologies: TechItem[];
}

const { technologies } = Astro.props;
---

<ul class="grid grid-cols-2 xs:grid-cols-3 list-none gap-2 not-prose pb-5">
  {
    technologies.map((tech) => {
      if (tech.techLogo) {
        return (
          <li class="p-2 rounded-sm dark:bg-zinc-700 bg-zinc-200 flex gap-2 shadow-sm">
            <Image src={tech.techLogo?.img} alt={tech.techLogo?.imgAlt} class:list={["w-6 my-auto max-h-6", `${tech.techLogo.invert ? "dark:invert" : ""}`]} />
            {tech.techName}
          </li>
        );
      }
      return <li class="p-2 rounded-sm bg-zinc-900 ">{tech.techName}</li>;
    })
  }
</ul>
