---
import Hamburger from "@components/Hamburger";
---

<Hamburger client:load />
<nav class="hidden py-2 bg-zinc-900 w-full md:flex justify-between not-prose items-center">
  <a href="/" class="text-3xl mx-5 pr-4 flex items-center font-bold self-center">
    <div class="">
      <h2 class="">Rafiq Ramadan</h2>
    </div>
  </a>
  <div class="hidden md:flex">
    <ul class="flex gap-5 text-redDarkest font-medium">
      <li class="hover:scale-[1.15] transition duration-300">
        <a href="/resume">Resume</a>
      </li>
      <li class="hover:scale-[1.15] transition duration-300">
        <a href="/resume">Github</a>
      </li>
      <li class="hover:scale-[1.15] transition duration-300">
        <a href="/resume">Projects</a>
      </li>
    </ul>
  </div>
</nav>
