---
import ContentBox from "@components/ContentBox.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <ContentBox>
    <h1>Projects</h1>
    <div class="grid grid-cols-12">
      <section class="col-span-9 odd:col-start-1 even:col-end-13 p-2 border-2 border-zinc-200 rounded-md">
        <h2 class="mt-0">Top 5 Spotify</h2>
        <summary class="list-none">A hobby project built from the ground up to practice using ReactJS, as well as integrating with a public API</summary>
      </section>
      <section class="col-span-9 odd:col-start-1 even:col-end-13">
        <h2>2nd Col Test</h2>
        <summary class="list-none">A hobby project built from the ground up to practice using ReactJS, as well as integrating with a public API</summary>
      </section>
    </div>
  </ContentBox>
</Layout>
