---
import ContentBox from "@components/ContentBox.astro";
import ProjectPreview from "@components/ProjectPreview.astro";
import Layout from "@layouts/Layout.astro";

// Project Images
import top5Spotify from "@assets/projects/top5spotify/top5spotify.png";
import threeJsMain from "@assets/projects/threeJsPortfolio/threeJsPortfolioMain.png";
---

<Layout>
  <ContentBox>
    <h1>Projects</h1>
    <div class="grid grid-cols-12 gap-10">
      <ProjectPreview
        title="Top 5 Spotify"
        summary="A hobby project built from the ground up to practice using ReactJS, responsive design, and asynchronous integration with a public API"
        link="/projects/top5spotify"
        image={top5Spotify}
      />
      <ProjectPreview
        title="ThreeJS Portfolio"
        summary="A vaporwave & coffee-themed personal/portfolio website created with pure vanilla HTML, CSS, JS except the background, which is crafted by ThreeJS, a Javascript library for rendering and animated 3D models in the browser"
        link="/projects/threeJsPortfolio"
        image={threeJsMain}
      />
    </div>
  </ContentBox>
</Layout>
