---
import Layout from "@layouts/Layout.astro";
import { type GalleryItem, type TechItem } from "@components/ProjectPage.astro";
import { Image } from "astro:assets";

// Images
import siteMain from "@assets/projects/threeJsPortfolio/threeJsPortfolioMain.png";
import spotify from "@assets/projects/threeJsPortfolio/threeJsSpotify.png";
import coffee from "@assets/projects/threeJsPortfolio/threeJsCoffee.png";
// Logos
import html from "@assets/techLogos/html.png";
import css from "@assets/techLogos/css.png";
import js from "@assets/techLogos/js.png";
import threeJsLogo from "@assets/techLogos/threeJs.png";
import nodeLogo from "@assets/techLogos/node-js.svg";
import vercelLogo from "@assets/techLogos/vercel.svg";

// Icons
import top5spotifylogo from "@assets/projects/top5spotify/proto_logo.svg";
import ProjectPage from "@components/ProjectPage.astro";

const tech: TechItem[] = [
  { techName: "HTML", techLogo: { img: html, imgAlt: "html", invert: true } },
  { techName: "CSS", techLogo: { img: css, imgAlt: "css", invert: true } },
  {
    techName: "Javascript",
    techLogo: {
      img: js,
      imgAlt: "js",
      invert: true,
    },
  },
  { techName: "NodeJS", techLogo: { img: nodeLogo, imgAlt: "NodeJS" } },
  { techName: "ThreeJS", techLogo: { img: threeJsLogo, imgAlt: "threeJsLogo", invert: true } },
  { techName: "Vercel Deploy", techLogo: { img: vercelLogo, imgAlt: "vercelLogo", invert: true } },
];
const link2 = { img: top5spotifylogo, text: "Live App", url: "https://v1.rafiqramadan.com" };
const gallery: GalleryItem[] = [
  {
    image: { img: siteMain, imgAlt: "Site Landing" },
    caption: "Site landing page",
  },
  {
    image: { img: spotify, imgAlt: "Spotify Project Page" },
    caption: "Spotify project page",
  },
  {
    image: { img: coffee, imgAlt: "coffee section" },
    caption: "Personal coffee hobby section",
  },
];
---

<Layout>
  <span class="text-5xl xs:text-8xl text-center not-prose w-full inline-block">🌞☕️👨‍💻</span>
  <ProjectPage
    title="ThreeJS Portfolio Site"
    technologies={tech}
    githubRepoLink="https://github.com/OptimisticShibe/ThreeJSProfessionalSite"
    link2={link2}
    gallery={gallery}
  >
    <p slot="summary">
      A vaporwave & coffee-themed personal/portfolio website created with pure vanilla HTML, CSS, JS except the background. The background is crafted by
      ThreeJS, a Javascript library for rendering and animated 3D models in the browser
    </p>

    <ol slot="goal">
      <li>To test my ability to code a stylish, simple webpage without any external packages to help</li>
      <li>Experiment with using 3D models, especially in regards to camera and lighting manipulation</li>
      <li>Create a personal website for hosting personal projects and some personal info</li>
      <li>Practice using script-based javascript, managing loading states etc. without convenience of robust packages</li>
    </ol>

    <ol slot="uxFlow">
      <li>Vaporwave background loads immediately. Loading spinner appears while canvas element loads in background</li>
      <li>Spinning latte mug appears. Main entry box with "Rafiq Ramadan" and info fades into view</li>
      <li>
        User can scroll down, or click down-arrow to smooth-scroll to "About Me" section. OR user can click any one of 6 links on landing element to scroll or
        navigate away
      </li>
      <li>User may scroll down and read. Only interactable component beyond smooth-scroll is accordion elements</li>
      <li>As user scrolls, ThreeJS 3D camera pans out—latte mug recedes into distance, coffee beans and coffee machine swing into view</li>
    </ol>
    <section id="details">
      <div slot="details">
        <h4>🔁 Asynchronus API Data Fetching</h4>
      </div>
    </section>
  </ProjectPage>
</Layout>
