---
import Footer from "@components/Footer.astro";
import TopNav from "@components/TopNav/TopNav.astro";
import { name } from "src/constants";

import "../styles/global.css";

interface Props {
  homepage?: boolean;
}

const { homepage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
  </head>
  <body>
    <div class:list={["min-h-[100vh] w-full prose prose-invert"]}>
      <TopNav />
      <slot />
      {!homepage && <Footer />}
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .prose {
    max-width: none;
  }
</style>
