---
import Footer from "@components/Footer.astro";
import TopNav from "@components/TopNav/TopNav.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark:bg-zinc-800 bg-zinc-100 scroll-smooth scroll-p-[54px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rafiq Ramadan</title>
    <meta property="og:title" content="Rafiq Ramadan - Frontend Engineer in Chicago" />
    <meta property="og:description" content="Rafiq Ramadan's Portfolio site, showcasing projects and employment contact info." />
    <meta property="og:image" content="https://rafiqramadan.com/titleMeta.png" />
    <meta property="og:site_name" content="Rafiq Ramadan" />
    <meta property="og:url" content="https://rafiqramadan.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div class:list={["min-h-[100vh] w-full prose dark:prose-invert relative"]}>
      <TopNav />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
