---
import Footer from "@components/Footer.astro";
import TopNav from "@components/TopNav/TopNav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="../src/styles/global.css" rel="stylesheet" />
    <title>Rafiq Ramadan</title>
  </head>
  <body>
    <div class="min-h-full min-w-full bg-zinc-800 prose prose-invert flex flex-col justify-between">
      <TopNav />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
